@import url(https://fonts.googleapis.com/css?family=Righteous);
html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Righteous', sans serif;
  color: #ffffff;
  overflow-y: hidden;
  overflow-x: hidden;
}

svg {
  position: absolute;
  top: 50%;
  height: 5em;
  width: 5em;
  margin-top: -2.5em;
  cursor: pointer;
}

svg#next {
  right: 1em;
}

svg#previous {
  display: none;
  left: 1em;
}

div {
  display: flex;
  -webkit-display: flex;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
}

div h1 {
  font-size: 2em;
  width: 100%;
  text-align: center;
  margin: 3em;
}

.zoomout {
  transform: scale(0.7);
  -moz-transform: scale(0.7);
  -webkit-transform: scale(0.7);
  -o-transform: scale(0.7);
  -ms-transform: scale(0.7);
}

.one {
  background-color: #63E89D;
}

.two {
  background-color: #65BEFF;
}

.three {
  background-color: #EF4264;
}

.four {
  background-color: #8F70FD;
}
